.list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: white;
  width: 500px;
  /* background-image: url('./docs/blank-notebook-filler-paper-background-a-great-backdrop-to-let-your-creativity-loose-on-this-tiles-seamlessly-as-a-pattern_BYgYIKCBs_thumb.jpg'); */
  justify-items: center;
  background-image: url('https://www.ppt-backgrounds.net/thumbs/plain-writing-notebook-paper-photo-slides-backgrounds.jpg');
}

button {
  margin: 10px;
}

.a {
  display: none;
}

input {
  text-align: center;
  background-color: #F5DEB3;
  border: hidden;
  width: 400px;
  height: 20px;
  margin: 50px;
}