/* GLOBAL SELECTORS */
body {
  background-color: #EFB261; 
}

div {
  align-items: center;
  text-align: center; 
  display: flex;
  justify-items: center;
  flex-direction: column;
}

h1 {
  margin-left: 40px;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  width: 50%;
}

mark {
  background-color: #ED9121; 
  color: #F5DEB3;
  border-radius: 50%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Move to center later */
/* padding-top: 10em; */
