h1 {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

body {
  background-color: #ED9121;
}

div {
   align-items: center;
  text-align: center; 
 /* justify-content: center;  */
  display: flex;
  justify-items: center;
  flex-direction: column;
}